* { box-sizing: border-box;
}

 body, #slider, .wrap, .slide-content {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

.slide {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.slide1 {
  background-image: url("images/Gogi.png");
  
}

.slide2 {
  background-image: url("images/MusselsSkillet.png");
}

.slide3 {
  background-image: url("images/ServerHoldingCandles.jpg");
}

.slide4 {
  background-image: url("images/MesaCocktail.png");
}

.slide5 {
  background-image: url("images/MESA-81.jpg");
}


.slide-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -35px;
  width: 0;
  height: 9;
  border-style: solid;
}

#arrow-left {
  border-width: 15px 20px 15px 0;
  left: 0;
  border-color: transparent rgb(235, 229, 229) transparent transparent;
  margin-left: 20px;
  opacity: .5;
}

#arrow-right {
  border-width: 15px 0px 15px 20px;
  border-color: transparent transparent transparent rgb(235, 229, 229); 
  right: 0;
  margin-right: 20px;
  opacity: .5;
}

.navbar {
  display: flex;
  width: 100%;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  top: 0;
}

.logo {
  max-height: 40px;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
  margin-right: 2000px;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  text-decoration: none;
  color: gray;
  padding: 1rem;
  display: block;
}

.navbar-links li a:hover {
  color: rgb(255, 240, 36);
  text-decoration: underline;
  transition: 0.4s;
}

.toggle-button {
  position: absolute;
  bottom: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 15px; 
}

.toggle-button .bar {
  height: 2px;
  width: 80%;
  background-color: gray;
  border-radius: 10px;
}


@media (max-width: 734px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links ul li a {
    padding: .5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }
}

.slideshow-container {
  max-width: 1000%;
  margin: auto;
  height: auto;
}

.mySlides {
  display: none; 
}



