body {
  margin: 0 auto;
  width: 100%;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  background-image: url("images/Gogi.png");
  background-size: auto;
  background-color: black;
  background-repeat: no-repeat;
  background-position: center;
  overflow-x: hidden;
}

.navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  top: 0;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  text-decoration: none;
  color: gray;
  padding: 1rem;
  display: block;
}

.navbar-links li a:hover {
  color: rgb(255, 240, 36);
  text-decoration: underline;
  transition: 0.4s;
}

.toggle-button {
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 15px; 
}

.toggle-button .bar {
  height: 2px;
  width: 80%;
  background-color: gray;
  border-radius: 10px;
}


@media (max-width: 734px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar-links li {
    text-align: center;
    padding: 0em 1em 0em 0em;
  }
  
  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links li a {
    padding: .5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }
}

.yellow {
  color: yellow;
}

.gray {
  color: gray;
}

.container {
  display: flex;
  width: 80%;
  background-color: rgb(0,0,0,0.9);
  flex-direction: column;
  margin: 2em 2em 2em 2em;
  margin: 0 auto;
  align-items: center; 
}

.text {
    line-height: 3em;
  }

.box-1 {
  width: 90%;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box-2 {
  width: 90%;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.tree {
  max-width: 200px;
}

.container-reservation {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

h1, h2 {
  font-family:'Questrial', sans-serif;
  letter-spacing: 3px;
}

hr {
  border: 0;
  clear: both;
  display: block;
  margin: 3em;
  width: 96%;               
  background-color:rgb(231, 229, 229);
  height: 1px;
}


.custom-select .people, .time {
  font-family: 'Montserrat', sans-serif;
  margin: .5em;
  width: 200px;
  height: 40px;
  font-size: 16px;
  padding: .5em .5em;
}

.date {
  font-family: 'Montserrat', sans-serif;
  margin: .5em;
  width: 180px;
  height: 20px;
  font-size: 16px;
  padding: .5em .5em;
}

.find-a-table {
  background-color: #000;
  color:white;
  width: 120px;
  height: 40px;
  border: none;
  display: inline-block;
  cursor: pointer;
}


@media screen and (min-width: 640px) {
  .tree {
    max-width: 200px;
  }
}

@media screen and (max-width: 727px) {
  .tree {
    max-width: 200px;
  }
}

@media screen and (max-width: 780px) {
  .container {
    width: 100%;
  }
}

@media screen and (max-width: 702px) {
  .box-2 {
    width: 90%;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
  
@media screen and (max-width: 1200px) {
  .container {
    width: 70%;
  }
}